@model AdalPipeline.Models.Request

@{
    ViewBag.Title = "CreateRequest";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

@using System.Web.UI.WebControls

<h2>@Html.LabelForModel()</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Release name: @Html.EditorFor(m => m.ReleaseTitle)</p>
    <p>Version number: @Html.EditorFor(m => m.ReleaseVersion)</p>
    <p>Release notes: @Html.EditorFor(m => m.ReleaseNotes)</p>
 
    <input type="submit" value="Submit Request" />
}

@using (@Html.BeginForm())
{
    <label for="ReleaseTitle">Product Title</label>
    <br/>
    @Html.TextBox("ReleaseTitle")
    <br/>
    <label for="ReleaseVersion">Version Number</label>
    <br/>
    @Html.TextBox("ReleaseVersion")
    <br/>
    <label for="ReleaseNotes"> Release Notes</label>
    <br/>
    @Html.TextArea("ReleaseNotes")
    <br/>
    <input type="submit" value="Submit Request"/>
}
